.a{
    background-color :#87CEEB;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.h{
    background-color: 1c39bb;
    text-align: center;
    color : #FFFFFF;
}
.i{
    text-align: center;
    color : #FFFFFF; 
}

.b{
    text-align: center;
    color : #FFFFFF; 
}
