.basic{
    margin-top: 20%;
    text-align: center;
}
.body{
    background-image: linear-gradient(#131313, #1A1A1A);
    width: auto;
}

.basic{
   display: block;
   box-shadow: white;
}
.background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
    }
    .shape:first-child{
        background: linear-gradient(
            #1845ad,
            #23a2f6
        );
        left: 450px;
        top: 150px;
    }
    .shape:last-child{

        background-image: linear-gradient(to right, #FAFF57, #EFE37F);
        left: 950px;
        top: 600px;

    }

.basic{
    color: white;
 font-family: Arial, Helvetica, sans-serif;
 

}
.h1{
    font-size: 45px;
}
label{ 
    display: block;
    margin-top: 30px;
    font-size: 40px;
    font-weight: 500;
}
input{
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 25px;
    font-weight: 300;
    color: white;
}
button{
    padding: 15px;
    border-radius: 10px;
    font-size: 20px;
    background-color: #eaf0fb;
    font-weight: 600;
    cursor: pointer;
}
.social{
    display: block;
    padding: 10px;
    font-size: 20px;
  color: #eaf0fb;

}
.social .goo{
    background: red;
  width: 150px;
  border-radius: 3px;
  padding: 5px 10px 10px 5px;
  background-color: rgba(255,255,255,0.27);
  color: #eaf0fb;
  text-align: center;
}

.social .face{
    background: red;
  width: 150px;
  border-radius: 3px;
  padding: 5px 10px 10px 5px;
  background-color: rgba(255,255,255,0.27);
  color: #eaf0fb;
  text-align: center;

}
